.ResultTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: .5rem;
}

@media (max-width: 400px) {
  .ResultTable {
    overflow-x: scroll;
  }
  .ResultTable-Head,
  .ResultTable-Section {
    min-width: 400px;
  }
}

.ResultTable-Head,
.ResultTable-Section__Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ResultTable-Head {
  border: solid 1px #282c34;
  font-weight: 500;
  background-color: #ecf0f1;
}

.ResultTable-Section {
  display: flex;
  flex-direction: column;
}

.ResultTable-Section__Row {
  border-bottom: 1px solid rgba(58, 108, 201, 0.25);
}

.ResultTable-Section__Row.-clickable:hover {
  background-color:rgba(58, 108, 201, 0.25);
  cursor: pointer;
}

.ResultTable__Item {
  padding: .5rem;
}

.ResultTable__Item.-Small {
  width: 3.3rem;
}

.ResultTable__Item.-Medium {
  width: 6rem;
}

.ResultTable__Item.-Large {
  width: 9rem;
}